{
  "openapi": "3.0.1",
  "info": {
    "title": "HypeLabs Partner API",
    "description": " The HypeLabs Partner API lets resellers and tenants browse available proxy\nstock, place orders (create allocations), and track allocation lifecycle\nevents such as expirations. Authenticate with your partner API key\n(`hl_live_…`) sent in the `X-Api-Key` header; every request is scoped to the\norganization it identifies.\n\n👋  Not a partner yet? [Get started on the HypeLabs Console](https://console.hypelabs.network).",
    "contact": {
      "name": "Contact Support",
      "url": "https://hypelabs.llc",
      "email": "contact@hypelabs.llc"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://connect.hypelabs.network",
      "description": "Production"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List products",
        "description": "Returns the commercial catalog (products, pricing) enriched with available locations and ISPs.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List locations",
        "description": "Returns the available locations (with their ISPs). Pass productId to narrow to a product.",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/isps": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List ISPs",
        "description": "Returns the available ISPs. Pass productId and/or locationId to narrow the results.",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Isp"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Isp"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Isp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "description": "Creates a customer for your organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "description": "Returns your organization's customers, most recent first. Filterable by active state, email-verified state, KYC approval, and a free-text search across all of a customer's fields.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer",
        "description": "Returns a single customer belonging to your organization.",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "description": "Updates a customer's details. Fields left null are unchanged.",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a customer",
        "description": "Permanently deletes a customer from your organization.",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customers/{customerId}/kyc": {
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Review a customer's KYC",
        "description": "Approves or rejects the customer's submitted KYC.",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewKycRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewKycRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewKycRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/incidents": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "List incidents",
        "description": "Returns the incidents reported for your organization, most recent first.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Incidents"
        ],
        "summary": "Create an incident",
        "description": "Reports a new incident for your organization. Rejected with 409 if an incident is already open for the same target.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        }
      }
    },
    "/incidents/{incidentId}": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "Get an incident",
        "description": "Returns a single incident belonging to your organization.",
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Incidents"
        ],
        "summary": "Resolve an incident",
        "description": "Marks an incident as resolved.",
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        }
      }
    },
    "/orders/preview": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Preview an order price",
        "description": "Computes the price for a selection (product, location, ISP, quantity) without placing an order.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPreviewResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPreviewResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPreviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order",
        "description": "Prices the selection and records the order.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get orders",
        "description": "Lists the partner's active orders. Filterable by status, billing cycle, payment method, trial flag, and a free-text search across all of an order's fields.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/trial": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a trial order",
        "description": "Records a short-lived trial order for the selection.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/extend": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Extend an order",
        "description": "Renews an order for another billing cycle, optionally on different terms.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/proxies": {
      "get": {
        "tags": [
          "Proxies"
        ],
        "summary": "Get proxies",
        "description": "Returns a snapshot of all the partner's active proxies with their connection details.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Proxy"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Proxy"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Proxy"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxies/{proxyId}": {
      "get": {
        "tags": [
          "Proxies"
        ],
        "summary": "Get a proxy",
        "description": "Returns the connection details of a single allocated proxy.",
        "parameters": [
          {
            "name": "proxyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              }
            }
          }
        }
      }
    },
    "/proxies/{proxyId}/credentials": {
      "get": {
        "tags": [
          "Proxies"
        ],
        "summary": "Get the proxy credentials",
        "description": "Returns the credentials currently in effect on an allocated proxy, fetched live from the Manager.",
        "parameters": [
          {
            "name": "proxyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyCredentialResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyCredentialResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyCredentialResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Proxies"
        ],
        "summary": "Change the proxy credentials",
        "description": "Changes the username and password of an allocated proxy.",
        "parameters": [
          {
            "name": "proxyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeProxyCredentialsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeProxyCredentialsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeProxyCredentialsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              }
            }
          }
        }
      }
    },
    "/proxies/{proxyId}/ip-rotation": {
      "get": {
        "tags": [
          "Proxies"
        ],
        "summary": "Get the proxy IP rotation",
        "description": "Returns the IP rotation configured on an allocated proxy, fetched live from the Manager.",
        "parameters": [
          {
            "name": "proxyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyIpRotationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyIpRotationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyIpRotationResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Proxies"
        ],
        "summary": "Update the proxy IP rotation",
        "description": "Configures how often the proxy rotates its IP. A delay of 0 disables rotation.",
        "parameters": [
          {
            "name": "proxyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProxyIpRotationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProxyIpRotationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProxyIpRotationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/proxies/{proxyId}/ping": {
      "post": {
        "tags": [
          "Proxies"
        ],
        "summary": "Ping the proxy",
        "description": "Checks that an allocated proxy is reachable and measures its latency.",
        "parameters": [
          {
            "name": "proxyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyPingResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyPingResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyPingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/proxies/{proxyId}/ip-rotation/trigger": {
      "post": {
        "tags": [
          "Proxies"
        ],
        "summary": "Trigger the proxy IP rotation",
        "description": "Triggers an immediate IP rotation on an allocated proxy.",
        "parameters": [
          {
            "name": "proxyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BillingCycles": {
        "enum": [
          "Daily",
          "Weekly",
          "Monthly",
          "Quarterly",
          "Yearly"
        ]
      },
      "ChangeProxyCredentialsRequest": {
        "required": [
          "username",
          "password"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "allowedIps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateCustomerRequest": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "string",
            "nullable": true
          },
          "billingDetails": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateIncidentRequest": {
        "required": [
          "subject",
          "reporterEmail",
          "target"
        ],
        "type": "object",
        "properties": {
          "subject": {
            "maxLength": 50,
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "reporterEmail": {
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "CreateOrderRequest": {
        "required": [
          "productId"
        ],
        "type": "object",
        "properties": {
          "consumerRef": {
            "type": "string",
            "nullable": true
          },
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "locationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ispId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "billingCycle": {
            "$ref": "#/components/schemas/NullableOfBillingCycles"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/NullableOfPaymentMethods"
          },
          "quantity": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "unitPrice": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "isTrial": {
            "type": "boolean"
          },
          "returnUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Customer": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "string",
            "nullable": true
          },
          "billingDetails": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "externalLogins": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "pushNotificationsToken": {
            "type": "string",
            "nullable": true
          },
          "kyc": {
            "$ref": "#/components/schemas/CustomerKyc"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "bannedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastLoginAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paymentCustomerId": {
            "type": "string",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "weight": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerKyc": {
        "type": "object",
        "properties": {
          "scopeOfUse": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "policyAcknowledged": {
            "type": "boolean"
          },
          "submitted": {
            "type": "boolean"
          },
          "approved": {
            "type": "boolean"
          }
        },
        "nullable": true
      },
      "ExtendOrderRequest": {
        "type": "object",
        "properties": {
          "billingCycle": {
            "$ref": "#/components/schemas/NullableOfBillingCycles"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/NullableOfPaymentMethods"
          }
        }
      },
      "Incident": {
        "required": [
          "subject",
          "target",
          "reporterEmail"
        ],
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/IncidentStatuses"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "target": {
            "type": "string"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "reporterEmail": {
            "type": "string"
          },
          "managerIncidentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "resolvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resolutionNote": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "weight": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IncidentStatuses": {
        "enum": [
          "Open",
          "Investigating",
          "Resolved",
          "Dismissed"
        ]
      },
      "Isp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "proxies": {
            "type": "integer",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string"
          },
          "proxies": {
            "type": "integer",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "ispCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "NullableOfBillingCycles": {
        "enum": [
          "Daily",
          "Weekly",
          "Monthly",
          "Quarterly",
          "Yearly",
          null
        ],
        "nullable": true
      },
      "NullableOfPaymentMethods": {
        "enum": [
          "Balance",
          "CreditCard",
          "Cryptocurrency",
          null
        ],
        "nullable": true
      },
      "Order": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "locationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ispId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "billingCycle": {
            "$ref": "#/components/schemas/BillingCycles"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethods"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "unitPrice": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "isTrial": {
            "type": "boolean"
          },
          "allocationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "consumerRef": {
            "type": "string",
            "nullable": true
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatuses"
          },
          "isInGracePeriod": {
            "type": "boolean"
          },
          "completePaymentUrl": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "weight": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderPreviewResponse": {
        "type": "object",
        "properties": {
          "unitPrice": {
            "type": "number",
            "format": "double"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "subtotal": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "discount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "discountPercent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "OrderStatuses": {
        "enum": [
          "Pending",
          "Provisioning",
          "Active",
          "Expired"
        ]
      },
      "PaymentMethods": {
        "enum": [
          "Balance",
          "CreditCard",
          "Cryptocurrency"
        ]
      },
      "PreviewOrderRequest": {
        "required": [
          "productId"
        ],
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "locationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ispId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "billingCycle": {
            "$ref": "#/components/schemas/NullableOfBillingCycles"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/NullableOfPaymentMethods"
          },
          "quantity": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PricingTypes": {
        "enum": [
          "PerUnit",
          "PerBandwidth"
        ]
      },
      "Product": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "pricingType": {
            "$ref": "#/components/schemas/PricingTypes"
          },
          "currency": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "basePrice": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "weight": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "format": "int32"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "operatingMode": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "ispName": {
            "type": "string",
            "nullable": true
          },
          "ispLogoUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProxyCredentialResponse": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "allowedIps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedDomains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "appliedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProxyIpRotationResponse": {
        "type": "object",
        "properties": {
          "delaySeconds": {
            "type": "integer",
            "format": "int32"
          },
          "delayMinutes": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ProxyPingResponse": {
        "type": "object",
        "properties": {
          "reachable": {
            "type": "boolean"
          },
          "latencyMs": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ReviewKycRequest": {
        "required": [
          "approved"
        ],
        "type": "object",
        "properties": {
          "approved": {
            "type": "boolean"
          }
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "billingDetails": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        }
      },
      "UpdateProxyIpRotationRequest": {
        "type": "object",
        "properties": {
          "delaySeconds": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "description": "Your partner API key (hl_live_…).",
        "name": "X-Api-Key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "ApiKey": [ ]
    }
  ],
  "tags": [
    {
      "name": "Catalog",
      "description": "Browse what's available to order: the products on offer, the locations they're available in, and the ISPs behind them. Use these to build a valid order before creating an allocation."
    },
    {
      "name": "Orders",
      "description": "Place orders and manage their lifecycle. Creating an order reserves proxies for your organization; from there you can review, extend, and track each allocation through to expiration."
    },
    {
      "name": "Proxies",
      "description": "Work with the proxies your organization has been allocated: list them, read their connection details, and manage them over their lifetime."
    },
    {
      "name": "Incidents",
      "description": "Report and track incidents affecting your proxies: raise a new incident, list the open ones, and resolve them once they're handled."
    },
    {
      "name": "Customers",
      "description": "Manage your own customers: the end users you integrate into your website, or who sign in through your white-label store. This is entirely optional. You don't need customers to place orders; use it only if you'd like us to store and manage your customers for you."
    }
  ]
}